.input {
  width: 440px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  background-color: #1b1b32;
  border-radius: 15px;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  box-shadow: 3px 3px;
  margin-right: 10px;
}

.input-container {
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarea-boton {
  border-radius: 15px;
}